html {
  height: 100%;
}

body{
	background-image: url(../css/backgroundGame.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: 'Press Start 2P', cursive;
	/* test bug barre */
	/* overflow: hidden; */
}

figure{
	display: block;
	width: 100%;
	min-height: 80%;
	margin: 0;

}

img{
	width: 35%;
	height: auto;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

.carouselPlayer2{
	transform: scaleX(-1) translate(50%, -50%);
}


.btnchoice{
	margin: auto;
	width: 30%;
	height: 16%;
	border-radius: 25px;
}


.header{
	display: flex;
	justify-content: space-between;
    width: 100%;
}
.vieP1{
	/* test */
	display: none;
	/* */
	width: 234px;
	height: 18px;
	border: solid 2px black;
	background-color: red;
	border-radius: 20px;
	margin-top: 2%;
	margin-left: 3%;
}

.console{
	/* test */
	display: none;
	/* */
	width: 888px;
	height: 169px;
	border: solid 2px black;
	background-color: rgb(254, 254, 254, 0.2);
	border-radius: 18px;
	margin-top: 0.8%;
	overflow: scroll;
}

.vieP2{
	/* test */
	display: none;
	/* */
	width: 234px;
	height: 18px;
	border: solid 2px black;
	background-color: red;
	border-radius: 20px;
	margin-top: 2%;
	margin-right: 3%;
}

.mainChoice{
	width: 100%;
	display: flex;
	/*position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);*/
}

.choice{
	margin-top: 10%;
	display: flex;
	flex-direction: column;
/*	border: solid 2px black;
*/	width: 50%;
	height: 30em;
}


.typePerso{
	margin: auto;
	width: 40%;
	height: 12%;
	background-color: grey;
	border-radius: 18px;
}

.imgPerso{
	margin: auto;
	width: 60%;
	height: 60%;
	background-color: blue;
	border-radius: 15px;
}

.confirm{
	margin: auto;
	
	border-radius: 25px;

	
}

footer{
	display: flex;
	height: 8em;
	justify-content: space-around;
	margin-top: 1%;
	/*position: fixed;
    bottom: 50px;*/
    width: 100%;
}

button{
	margin-left: 3%;
	margin-top: 5%;
	width: 30%;
	height: 60%;
	border-radius: 20px;
	font-family: 'Press Start 2P', cursive;

}

.btnP1{

	width: 45%;
	display: flex;
}

.btnP2{
	width: 45%;
	display: flex;
}

.sprite{
	margin-top: 13%;
/*	margin-left: 4%;*/
	width: 50%;
	height: 20em;

}

.right {
    background-image: url();
    background-repeat: no-repeat;
    background-size: contain;
   	background-position: center;
}

.left {
    background-image: url();
    background-repeat: no-repeat;
    background-size: contain;
   	background-position: center;
}

.flex{
	display: flex;
	width: 100%;
	min-height: 80%;

}
.flexCol{
	display: flex;
	flex-direction: column;
	margin: 1% 1% 0 1%;
}


/* Dropdown Button */
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 20px;
	border: none;
	width: 100%;
	height: 40%;
	font-family: 'Press Start 2P', cursive;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	height: 30%;
  position: relative;
  display: inline-block;
  top: 50%;
  left: -20%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Press Start 2P', cursive;
}

/* Links inside the dropdown */
.dropdown-content option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content option:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.input{
	display: flex;
	justify-content: center;
}

input{
	height: 3em;
	width: 17em;
	border-radius: 20px;
	border: solid 2px black; 
}

.vieGreen::-webkit-progress-value { background: greenyellow; }
.vieGreen::-moz-progress-bar { background: greenyellow; }
.vieOrange::-webkit-progress-value { background: orange; }
.vieOrange::-moz-progress-bar { background: orange; }
.vieRed::-webkit-progress-value { background: orangered; }
.vieRed::-moz-progress-bar { background: orangered; }

.ulList, li{
    list-style: none;
    color: violet; 
    text-align: center;
}

.dislpayNone{
	display: none;
}




/* test animation progress bar */
::-webkit-progress-value {
	transition: width 1s;
	
  }



  /* TEST REPLAY */
  .test{
	  width: 250px;
	  display: none;
	  background-color: white;
	  padding: 20px;
	  margin: 0 auto;
  }
  .replayTitle{
	  text-align: center;
	  margin-top: 0;
  }
  .replay{
	  width: 100px;
	  margin-left: 10px;
  }


  /* TEST PSEUDO */
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: yellow;
	opacity: 0.8; /* Firefox */
  }
  input[type='text'] { 
	  	/* margin-top: 20%; */
		font-family: 'Press Start 2P', cursive;
		font-size: 30px; 
		text-align: center;
		border: none;
    	background: none;
		outline: none;
		color: white;
		
	}




	/*test bug boutton*/ 
	main{
		margin-bottom: 30px;
	}

	/* AWESOME MARGIN PROBLEM */
	#awesome{
		margin-top: 80px;
		margin-bottom: 80px;
	}
	#awesome2{
		margin-top: 80px;
		margin-bottom: 80px;
		transform:scaleX(-1);
		
	}